name: Playwright Tests
on:
  schedule:
    - cron: '0 1 * * *' # runs at 1:00 AM UTC every day, which is 8:00 AM GMT+7
  workflow_dispatch:
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./e2e
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npm test && ls -lat
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: e2e/playwright-report/
          retention-days: 30
      - name: Setup AWS CLI
        uses: aws-actions/configure-aws-credentials@v1
        env:
          AWS_ACCESS_KEY: '${{ secrets.AWS_ACCESS_KEY }}'
          AWS_ACCESS_KEY_SECRET: '${{ secrets.AWS_ACCESS_KEY_SECRET }}'
          AWS_E2E_REPORT_BUCKET_REGION: '${{ secrets.AWS_E2E_REPORT_BUCKET_REGION }}'
      - name: Upload HTML report to AWS S3 Bucket
        shell: bash
        run: |
          REPORT_DIR='run-${{ github.run_id }}-${{ github.run_attempt }}'
          aws s3 cp ./playwright-report/index.html "s3://markdown-editor-playwright-e2e-test-report/$REPORT_DIR/index.html"
          echo "report uploaded"
